
@model PagedList.IPagedList<BookStore_Managerment_Web.Models.Cart>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Cart";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using BookStore_Managerment_Web.Models;
@{
    List<User> kh = Session["KhachHangTemp"] as List<User>;
}
@using (Html.BeginForm("Cart_No", "Cart2", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label>Tìm kiếm  </label>
        <input type="Text" class="form-control mx-sm-4" name="searching" placeholder="Nhập tên cần tìm">
        <input type="submit" class="btn btn-danger" value="Tìm kiếm">
    </div>
    <hr />
}

<table class="table">
    <tr>
        <th>
            Mã đơn hàng
        </th>
        <th>
            Ngày tạo
        </th>


        <th>
            Ngày giao
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Tên khách hàng
        </th>
        <th>
            Trạng thái đơn hàng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cart_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart_DateCreate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Cart_Deliveryday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cart_Address)
            </td>
            @foreach (var itemkh in kh)
            {
                if (item.Users_ID == itemkh.Users_ID)
                {
                    <td>
                        @itemkh.Users_Name
                    </td>
                }
            }


            @if (item.Cart_Delivery_State == null)
            {
                <td style="color: lightcoral; font-weight: bold">
                    Chưa duyệt
                </td>
            }
            @if (item.Cart_Delivery_State == false)
            {
                <td style="color:forestgreen;font-weight:bold">
                    Đã duyệt
                </td>
            }
            @if (item.Cart_Delivery_State == true)
            {
                <td style="color:forestgreen;font-weight:bold">
                    Đang Giao hàng
                </td>
            }

            <td>
                @Html.ActionLink("Chi tiết đơn hàng", "Cart_Detail", new { id = item.Cart_ID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>
<div>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) /  @Model.PageCount
    </div>
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Cart_No", "Cart2", new { page = page }))
    </div>
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>
<style type="text/css">
    #mau-nut a {
        clear: both;
        background-color: orange;
        color: snow;
    }

        #mau-nut a:hover {
            background-color: darkcyan;
            color: snow;
        }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

    $(document).ready(function () {
        var maxLength = 100;
        $(".show-read-more").each(function () {
            var myStr = $(this).text();
            if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length); $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read more">đọc tiếp...</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
            }
        });
        $(".read-more").click(function () {
            $(this).siblings(".more-text").contents().unwrap();
            $(this).remove();
        });
    });
</script>
<style>
    .show-read-more .more-text {
        display: none;
    }
</style>
