@using BookStore_Managerment_Web.Models;
@model List<Product>



@{
    if (Model.Count <= 3)
    {
    <div class="item active">
        @foreach (var item in Model.Take(3))
        {
            <a href="@Url.Action("Product_Detail","Home",new {@product_id = item.Product_ID })">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="@item.Product_Image" alt="" />
                                <h2>@item.Product_SellPrice</h2>
                                <p>@item.Product_Name</p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                }
        </div>
    }
    else
    {
<div class="item active">
    @foreach (var item in Model.Take(3))
    {
        <a href="@Url.Action("Product_Detail","Home",new {@product_id = item.Product_ID })">
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="@item.Product_Image" alt="" />
                            <h2>@item.Product_SellPrice</h2>
                            <p>@item.Product_Name</p>
                         
                        </div>
                    </div>
                </div>
            </div>
            </a>
            }
    </div>
<div class="item">
    @foreach (var item in Model.Skip(3))
    {
        <a href="@Url.Action("Product_Detail","Home",new {@product_id = item.Product_ID })">
            <div class="col-sm-4">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <img src="@item.Product_Image" alt="" />
                            <h2>@item.Product_SellPrice</h2>
                            <p>@item.Product_Name</p>
            </div>
                    </div>
                </div>
            </div>
            <</a>
            }
    </div>
            }


            }











