@model BookStore_Managerment_Web.Models.User

@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<h2>NHẬP MẬT KHẨU MỚI</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        <h4 class="control-label col-md-2"><strong>Mật khẩu mới:</strong></h4>
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.User_Sex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Sex, "", new { @class = "text-danger" })*@
            <div class="fhs-input-group">
                @Html.EditorFor(model => model.User_AccountPassword, new { htmlAttributes = new { @class = "form-control" } })
                @*<input hidden="true" type="text" id="gender" name="gender" value="">*@
                @*<div style="width: 42px;"></div>
                    <div style="clear: both;"></div>
                    <span class="fhs-input-icon fhs-textbox-alert"></span>*@
            </div>

        </div>
    </div>

    <div class="form-group">
        <h4 class="control-label col-md-2"><strong>Nhập lại mật khẩu:</strong></h4>
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.User_Sex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.User_Sex, "", new { @class = "text-danger" })*@
            <div class="fhs-input-group">
                @Html.EditorFor(model => model.Users_Name, new { htmlAttributes = new { @class = "form-control" } })
                @*<input hidden="true" type="text" id="gender" name="gender" value="">*@
                @*<div style="width: 42px;"></div>
                    <div style="clear: both;"></div>
                    <span class="fhs-input-icon fhs-textbox-alert"></span>*@
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" id="submitButton" value="Xác nhận" class="btn btn-default"  onclick="alert('Đổi mật khẩu thành công')" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở lại", "DangNhap","User")
</div>

