@using BookStore_Managerment_Web.Models

@{
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<h2 style="text-align:center;">Thông tin đặt hàng</h2>
@{
    User kh = (User)Session["TaiKhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px;">
            <td>Họ tên khách hàng: </td>
            <td style="font-weight:bold;">@kh.Users_Name</td>
        </tr>
        <tr style="height:40px;">
            <td>Email: </td>
            <td style="font-weight:bold;">@kh.User_Email</td>
        </tr>
        <tr style="height:40px;">
            <td>Điện thoại: </td>
            <td style="font-weight:bold;">@kh.User_Phone</td>
        </tr>
        <tr style="height:40px;">
            <td>Ngày đặt: </td>
            <td style="font-weight:bold;">@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr style="height:40px;">
            <td>Ngày giao: </td>
            <td style="font-weight:bold;">
                <input type="date" name="NgayGiao" id="NgayGiao" />
                <span id="NgayGiao_Error" name="NgayGiao_Error"></span>
            </td>

        </tr>
        <tr style="height:40px;">
            <td>Địa chỉ: </td>
            <td style="font-weight:bold;">
                <input type="text" name="DiaChi" id="DiaChi" />
                <span id="DiaChi_Error" name="DiaChi_Error"></span>
            </td>
        </tr>
        <tr style="height:40px;">
            <td></td>
            <td style="font-weight:bold;margin-bottom:100px;">
                <input type="submit" id="btnSubmit" value="Xác nhận" class="btn btn-success" />
            </td>
        </tr>
    }
</table>

<script src="~/Content/javascript/js/jquery.js"></script>
<script type="text/javascript">
    $('#btnSubmit').click(function () {
        if ($('#DiaChi').val() == "") {
            $('#DiaChi_Error').text("Địa chỉ không được để trống !");
            return false;
        } else {
            $('#DiaChi_Error').text("");
        }
    });
</script>
