@using BookStore_Managerment_Web.Models;
@model List<GioHang>


@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}



<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                <li class="active">Giỏ hàng</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                    <tr class="cart_menu">
                        <td class="image">Sản phẩm</td>
                        <td class="description">Mô tả</td>
                        <td class="price">Giá</td>
                        <td class="quantity">Số lượng</td>
                        <td class="total">Tổng</td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                @{

                    <tbody>
                        @foreach (var item in Model)
                        {


                            <tr>
                                @using (Html.BeginForm("Capnhatgiohang", "Cart", new { @id = item.Product_ID }))
                                {
                                    <td class="cart_product">
                                        <a href=""><img src="@item.Product_Image" alt="" style="width:50px;"></a>
                                    </td>
                                    <td class="cart_description">
                                        <h4><a href="@Url.Action("Product_Detail", "Home", new { @product_id = item.Product_ID })">@item.Product_Name</a></h4>
                                    </td>
                                    <td class="cart_price">
                                        <p>@item.Cart_Detail_Price</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a class="cart_quantity_up" href="@Url.Action("TangSoLuong", "Cart", new { @id = item.Product_ID })"> + </a>
                                            <input class="cart_quantity_input" type="text" name="txtSoLg" id="txtSoLg" value="@item.Cart_Detail_Quantity" min="1" autocomplete="off" size="2" onchange="myFunction(this.value,@item.Product_Quantity_Instock)">

                                            <a class="cart_quantity_down" href="@Url.Action("GiamSoLuong","Cart",new {@id = item.Product_ID })"> - </a>
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price">@item.TotalMoney</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a class="cart_quantity_delete" href="@Url.Action("Xoagiohang","Cart", new {@id = item.Product_ID })"><i class="fa fa-times"></i></a>
                                    </td>
                                    <td><input type="submit" value="Cập nhật số lượng" class="btn btn-success" /></td>
                                }
                            </tr>
                        }

                    </tbody>

                }
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Thành tiền: <span>@ViewBag.TongTien</span></li>
                        <li>Phí ship: <span>Free</span></li>
                        <li>Tổng cộng: <span>@ViewBag.TongTien</span></li>
                    </ul>
                    <a class="btn btn-default check_out" href="@Url.Action("DatHang","Cart")">Thanh toán</a>
                    <a class="btn btn-default check_out" href="@Url.Action("Xoatatcagiohang","Cart")">Làm trống giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->

<script src="~/Content/javascript/js/jquery.js"></script>
<script type="text/javascript">

    function myFunction(val1,val2) {
        if (val1 > val2) {
            alert("Số lượng sách còn lại không đủ!\n(Số lượng sẽ đặt lại 1)");
            $('#txtSoLg').val(1);
        }
        if (val1 <= 0) {
            alert("Số lượng sách phải lớn hơn hoặc bằng 0!\n(Số lượng sẽ đặt lại 1)");
            $('#txtSoLg').val(1);
        }
    }

</script>

